/* ENCABEZADOS */

.titulo-principal, .productos-destacados-titulo, h3 {
    
    font-family: 'PT Serif', serif;

}

.titulo-principal{
    font-size: 60px;
}
.productos-destacados-titulo{
    font-size: 35px;
}