/* FUENTES */ 


.nav-link {
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    color: nth($colores, 4 );
   
} 

.card-title{
    font-size: 20px;
    font-family: 'Abril Fatface', cursive;
}